@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('https://code.ionicframework.com/assets/fonts/28882F_0_0.eot');
  src: url('https://code.ionicframework.com/assets/fonts/28882F_0_0.eot?#iefix') format('embedded-opentype'), url('https://code.ionicframework.com/assets/fonts/28882F_0_0.woff') format('woff'), url('https://code.ionicframework.com/assets/fonts/28882F_0_0.ttf') format('truetype'); }

@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src: url('https://code.ionicframework.com/assets/fonts/28882F_1_0.eot');
  src: url('https://code.ionicframework.com/assets/fonts/28882F_1_0.eot?#iefix') format('embedded-opentype'), url('https://code.ionicframework.com/assets/fonts/28882F_1_0.woff') format('woff'), url('https://code.ionicframework.com/assets/fonts/28882F_1_0.ttf') format('truetype'); }

@font-face {
  font-family: 'AvenirNextLTPro-UltLt';
  src: url('https://code.ionicframework.com/assets/fonts/29CC36_0_0.eot');
  src: url('https://code.ionicframework.com/assets/fonts/29CC36_0_0.eot?#iefix') format('embedded-opentype'), url('https://code.ionicframework.com/assets/fonts/29CC36_0_0.woff') format('woff'), url('https://code.ionicframework.com/assets/fonts/29CC36_0_0.ttf') format('truetype'); }
body {
  font-family:     "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 26px;
}
a {
  color: #4E8EF7;
}
footer {
  margin-top: 50px;
}
footer ul li {
  list-style: none;
  margin: 20px 0;
  display: inline-block;
}
#footer ul li a {
  color: #4F8EF7 !important;
  opacity: 0.5;
  font-family: "AvenirNextLTPro-UltLt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 13px;
  margin-right: 40px;
}
#footer ul li a:hover {
  opacity: 1;
}
nav ul li {
  list-style: none;
  margin: 20px 0;
}
h1, h2, h3, h4, h5, h6, .btn {
  font-weight: normal;
  font-family: "AvenirNextLTPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3 {
  margin: 50px 0 30px;
}
h1:first-child, h2:first-child {
  margin-top: 30px;
}
nav ul {
  padding: 0;
}
nav > ul > li {
  margin: 60px 0 0 0;
}
nav > ul > li:first-child {
  margin-top: 0;
}
nav > ul > li > a {
  color: #000;
  text-decoration: none;
  font-family: "AvenirNextLTPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}

.ionic-logo {
  background: url('/img/ionic.png') no-repeat transparent;
  width: 64px;
  height: 64px;
  background-size: 100%;
  opacity: 0.2;
  display: block;
  margin: 40px auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.42857;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus {
    color: #333;
    text-decoration: none; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn-primary {
  color: #fff;
  background-color: #4F8EF7;
  border-color: #3780f6; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1e70f5;
    border-color: #0a62e5; }
  .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #4F8EF7;
    border-color: #3780f6; }
  .btn-primary .badge {
    color: #4F8EF7;
    background-color: #fff; }
