<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="container">
      <div class="five columns alpha">
        <nav>
          <ul>
            <li><a href="/docs/dashboard">Overview</a>
              <ul>
                <li><a href="/docs/overview/account">Your Account</a></li>
                <li><a href="/docs/overview/billing">Billing</a></li>
                <li><a href="/docs/overview/support">Support</a></li>
              </ul>
            </li>
            <li><a href="/docs/services/">Services</a>
              <ul>
                <li><a href="/docs/analytics">Analytics</a></li>
                <li><a href="/docs/deploy">Deploy</a></li>
                <li><a href="/docs/build">Build</a></li>
                <li><a href="/docs/push">Push</a></li>
                <li><a href="/docs/ab">A/B Testing</a></li>
                <li><a href="/docs/logging">Error Logging</a></li>
              </ul>
            </li>
            <li><a href="/docs/tools/">Tools</a>
              <ul>
                <li><a href="/docs/creator">Creator</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="eleven columns omega">
        {{ content }}

        <div class="ionic-logo"></div>
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
