<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="container">
      <div class="four columns alpha">
        <nav>
          <a href="/"><img src="/img/ionic-logo.png" style="width: 32px; margin-top: 30px; opacity: 0.4"></a>
          <ul>
            <li><a href="/docs/dashboard">Overview</a>
              <ul>
                <li><a href="/overview/account">Your Account</a></li>
                <li><a href="/overview/billing">Billing</a></li>
                <li><a href="/overview/support">Support</a></li>
              </ul>
            </li>
            <li><a href="/services/">Services</a>
              <ul>
                <li><a href="/services/getting-started">Getting Started</a></li>
                <li><a href="/services/analytics">Tracking Events</a></li>
                <li><a href="/services/deploy">Deploying Apps</a></li>
                <li><a href="/services/build">Building and Testing</a></li>
                <!--
                <li><a href="/docs/push">Push</a></li>
                <li><a href="/docs/ab">A/B Testing</a></li>
                <li><a href="/docs/logging">Error Logging</a></li>
                -->
              </ul>
            </li>
            <li><a href="/tools/">Tools</a>
              <ul>
                <li><a href="/tools/creator">Creator</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="eleven columns omega">
        {{ content }}

        <!--<div class="ionic-logo"></div>-->
        <footer id="footer">
          <nav>
            <ul>
              <li><a href="http://ionicframework.com/">Ionic</a></li>
              <li><a href="http://ionic.io/support/">Support</a></li>
              <li><a href="http://ionicframework.com/jobs/">Jobs</a></li>
              <li><a href="http://ionicframework.com/blog/">Blog</a></li>
              <li><a href="http://forum.ionicframework.com/">Forum</a></li>
          </nav>
        </footer>
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
