<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="container">
      <div class="four columns alpha">
        <nav id="sidebar">
          <a href="/"><img src="/img/ionic-logo.png" style="width: 32px; margin-top: 30px; opacity: 0.4"></a>
          <ul>
            <li><a href="/services/">Getting Started</a>
              <ul>
                <li><a href="/services/getting-started">Installation</a></li>
              </ul>
            </li>
            <!--
            <li><a href="/services/analytics">Analytics</a>
              <ul>
                <li><a href="/services/analytics">Getting started</a></li>
                <li><a href="/services/analytics/tracking">Tracking Events</a></li>
                <li><a href="/services/analytics/auto">Auto Events</a></li>
                <li><a href="/services/analytics/user">User Identification</a></li>
                <li><a href="/services/analytics/js">Javascript API</a></li>
              </ul>
            </li>
            <li><a href="/services/deploy">Deploy</a>
              <ul>
                <li><a href="/services/deploy/">Getting started</a></li>
                <li><a href="/services/deploy/deploying">Deploying changes</a></li>
                <li><a href="/services/deploy/updating">Updating app</a></li>
                <li><a href="/services/deploy/js">Javascript API</a></li>
                <li><a href="/services/deploy/cordova">Cordova Plugin API</a></li>
              </ul>
            </li>
            <li><a href="/services/build">Build</a>
              <ul>
                <li><a href="/services/deploy/cli">CLI</a></li>
              </ul>
            </li>
            -->
            <li><a href="/cli/">CLI</a>
              <ul>
                <li><a href="/cli/usage">Usage</a></a></li>
                <li><a href="/cli/crosswalk">Installing CrossWalk</a></a></li>
                <li><a href="/cli/proxy">Working behind a proxy</a></a></li>
              </ul>
            </li>
            <li><a href="/tools/">Tools</a>
              <ul>
                <li><a href="/tools/viewapp">View App</a></li>
                <li><a href="/tools/creator">Creator</a></li>
              </ul>
            </li>
            <li><a href="/docs/dashboard">Help</a>
              <ul>
                <li><a href="/overview/account">Your Account</a></li>
                <li><a href="/overview/billing">Billing</a></li>
                <li><a href="/overview/support">Support</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="eleven columns omega" id="content">
        {{ content }}

        <!--<div class="ionic-logo"></div>-->
        <footer id="footer">
          <nav>
            <ul>
              <li><a href="http://ionicframework.com/">Ionic</a></li>
              <li><a href="http://ionic.io/support/">Support</a></li>
              <li><a href="http://ionicframework.com/jobs/">Jobs</a></li>
              <li><a href="http://ionicframework.com/blog/">Blog</a></li>
              <li><a href="http://forum.ionicframework.com/">Forum</a></li>
          </nav>
        </footer>
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
